<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Release-specific security configurations -->
    <application
        android:usesCleartextTraffic="false"
        tools:replace="android:usesCleartextTraffic,android:allowBackup"
        android:allowBackup="false" />

</manifest>
